<div class="container-fluid">
    <div class="form-group">
         <label for="comment">Please enter the string:</label>
        <textarea class="form-control" [(ngModel)] = "shapeText" rows="5" id="comment"></textarea>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="button" class="btn btn-primary" (click) ="onGenerateShapeClicked()" value="Generate">
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="row">
        <div class="col-md-12">
            <draw-shape [shape]= "shape"></draw-shape>
        </div>
    </div> 
</div>
